*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(233, 219, 219);
  color: rgb(2, 2, 26);
}

.App{
  width: 100%;
}

*{
  width: 100%;
}

.sumary{
  border: 1px solid ;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

h1{
  width: 100%;
  text-align: center;
}

h2{
  width: 100%;
  text-align: center;
}

.sumary button{
  width: 160px;
  height: 40px;
  background-color: #565a8a;
  color: antiquewhite;
  box-shadow: 0 0 3px 3px gray;
  border-radius: 5px;
}

.sumary button:hover{
  cursor: pointer;
  background-color: antiquewhite;
  color: rgb(2, 2, 26);
}

.card_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  background-color: white;
  padding: 3rem 0;
}

.card{
  width: 220px;
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 3px 3px rgb(206, 206, 206);
  border-radius: 10px;
}
.sub_car{
  display: flex;
  flex-direction: row;
}
.btn_list{
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.det_list{
  list-style-type: none;
}
.list{
  list-style-type: none;
}

h3{
  width: 100%;
  text-align: center;
  padding: 0 0 1rem 0;
  border-bottom: 2px solid;
}
.red{
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30%;
  background-color: red;
  
}
/* ProdutsList END*/
.container{
 z-index: 100;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(2, 2, 26,0.606);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter:blur(2.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(60px at 50% 0);
  transition: .7s ease all;
}

.container:hover{
  clip-path: circle(100% at 50% 0);
}

.dele{
  width: 300px;
  height: 260px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 3px 3px rgb(206, 206, 206);  
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  position: relative;
}

.dele h4{
  width: 100%;
  padding: 2rem;
}

.btn_delet{
  width: 100px;
  height: 40px;
  background-color: #565a8a;
  color: antiquewhite;
  box-shadow: 0 0 3px 3px gray;
  border-radius: 5px;
}
.btn_delet:hover{
  cursor: pointer;
  background-color: antiquewhite;
  color: rgb(2, 2, 26);
}
.form{
  width: 300px;
  height: 370px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 3px 3px rgb(206, 206, 206);  
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  position: relative;
}
.label{
  text-align: left;
}
.form input{
  display: block;
  background-color: rgba(88, 71, 71, 0.411);
  border-radius: 5px;
  border: none;
  height: 20px;
  text-align: center;
  margin: .5rem;
  width: 220px;
}
.container_formxxxxxxxxxxxx{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  /* background-color: rgba(2, 2, 26, 0.606); */
  background-color: rgb(243, 243, 243,0);
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .x{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(255, 0, 0, 0.192);
 }
.btn_close{ 
  width: 25px;
  height: 25px;
  background-color: rgba(255, 0, 0, 0.596);
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 3px rgb(206, 206, 206); 
}
.x:hover{
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(255, 0, 0, 0.192);
}

.btn_close:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.card_form{
  width: 300px;
  height: 370px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 3px 3px rgb(206, 206, 206);
  border-radius: 10px;
}
.detail_form{
  font-size: 20px;
}
.btn_form{
  width: 80px;
  height: 40px;
  background-color: #565a8a;
  color: antiquewhite;
  box-shadow: 0 0 3px 3px gray;
  border-radius: 5px;
}

.btn_form:hover{
    cursor: pointer;
    background-color: antiquewhite;
    color: rgb(2, 2, 26);
}
.isAvailable_css{
  text-align: left;
  display: flex;
  flex-direction: left;
}

.btn-open-menu{
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.btn-open-menu:hover{
  animation: rotar 1.5s alternate;
}

@keyframes rotar{
  0% {transform: rotate(0deg);}
  20% {transform: rotate(10deg);}
  40% {transform: rotate(-15deg);}
  60% {transform: rotate(15deg);}
  80% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}

.navigation-elements{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-elements li{
  list-style: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.container-menu.active li{
  animation: displacement 1s ease;
}


@keyframes displacement{
  from {transform: translateY(1000px);}
  to {transform: translateY(0);}
}

.navigation-elements li a{
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 15px 30px;
  color: #f8f8f8;
  text-transform: uppercase;
  transition: .2s ease all;
  border-radius: 10px;
}

.navigation-elements li a:hover{
  background: #000;
}